*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 500vh;
  font-size: 22px;
  background-color: #e6e6e6;

}
.scrollToTop{
  position: fixed;
  bottom: 10px;
  right:  -70px;
  cursor: pointer;
  padding: 6px 8px;
  background-color: rgb(170, 105, 235);
  color: white;
  font-weight: bold;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.scrollToTop:hover{
  background-color: rgb(141, 45, 236);
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}