*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dddddd;
}
.burger-icon{
  margin: 20px auto;
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: relative;
}
.burger-icon:hover span:nth-child(2){
  opacity: 0;
}
.burger-icon:hover span:first-child{
  transform: rotate(45deg);
  background-color: rgb(70, 70, 70);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  top: 6px;
}
.burger-icon:hover span:last-child{
  top: 6px;
  background-color: rgb(150, 13, 13);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.burger-icon span{
  height: 2px;
  position: absolute;
  width: 100%;
  background-color: rgb(7, 7, 7);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.burger-icon span:first-child{
  top: 0px;
}
.burger-icon span:nth-child(2){
  top: 6px;
}.burger-icon span:last-child{
  top: 12px;
}