*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  font-size: 22px;

}
.serial{
  background-color: #dadada;
  padding: 20px 80px;
  width: fit-content;
  margin: 100px auto 0px;
  color: #222222;
  font-size: 47px;
  font-weight: 700;
  border-radius: 10px;
}
.generate{
  background-color: #cf5151;
  padding: 35px 14px;
  line-height: 0;
  width: fit-content;
  margin: 19px auto;
  color: #f6f6ff;
  font-size: 35px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
.generate:hover{
  background-color: #a80a0a;
  color: #ffffff;
}