*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  font-size: 22px;

}
.CONTENT{
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  align-items: center;
  height: 100px;
  font-size: 25px;
  background-color: #cebba0;
  justify-content: center;
  color: #111111;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
span{
  text-align: center;
}